@keyframes ants {
    0% {
        stroke-dashoffset: 0%;
    }

    100% {
        stroke-dashoffset: 135%;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

@keyframes jiggle {

    20% {
        transform: translate3d(8px, 0, 0);
    }

    40% {
        transform: translate3d(-7px, 0, 0);
    }

    60% {
        transform: translate3d(6px, 0, 0);
    }

    80% {
        transform: translate3d(-5px, 0, 0);
    }

}

@keyframes bounce {

    50% {
        transform: translate3d(0, -16px, 0);
    }

}

@keyframes spring {
    0.0% {
        transform: translate(0px, 0px) scale(0);
        opacity: 1.0;
    }

    100% {
        transform: translate(0px, -64px);
        opacity: 0.0;
    }

    14.6% {
        transform: translate(0px, 0px) scale(1.125);
        opacity: 1.0;
    }

    19.6% {
        transform: translate(0px, 0px) scale(1);
        opacity: 1.0;
    }

    4.7% {
        transform: translate(0px, 0px) scale(1.25);
        opacity: 1.0;
    }

    9.8% {
        transform: translate(0px, 0px) scale(0.75);
        opacity: 1.0;
    }
}

.fade-long-enter-active {
    transition: opacity 2s ease;
}

.fade-long-leave-active {
    transition: opacity 2s ease;
}

.fade-long-enter,
.fade-long-leave-to
{
    opacity: 0;
}

.list-enter-active,
.list-leave-active,
.list-move {
  transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}

.list-enter {
  opacity: 0;
  transform: translateX(50px) scaleY(0.5);
}

.list-enter-to {
  opacity: 1;
  transform: translateX(0) scaleY(1);
}

.list-leave-active {
  position: absolute;
}

.list-leave-to {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
}