@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('DovesType-Regular.css');

.game-block-shape,
.game-block,
.game-slot-container {
    width: 84px;
    height: 50px;
}

.game-block {
    line-height: 50px;
    text-align: center;
    border-radius: 8px;
    letter-spacing: 3pt;
    font-weight: bold;
    color: white;
    cursor: move;
}

.game-block.drop-active {
    transition: opacity 0.25s ease;
    opacity: 0%;
}

.game-block.ghost {
    transition: transform 0.18s ease;
    transform: rotateZ(5deg)
}

.game-block.ghost-drop {
    transition: transform 0.18s ease-in-out;
    transform: rotateZ(0deg)
}

.game-slot-container.incorrect-active {
    animation: jiggle 0.5s;
}

.game-slot {
    fill: none;
    pointer-events: all;
    stroke: lightgray;
    stroke-dasharray: 9, 9;
    stroke-width: 2;
}

.game-slot.drop-active {
    fill: #dedede;
    animation: ants 3s linear 0s infinite normal forwards;
}

.game-notation {
    max-height: 20px;
    max-width: 20px;
    pointer-events: none;
}

.block-picker {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(1, 1fr);
}

.block-dropdown {
    position: absolute;
    top: 0em;
    left: 1em;
}

.block-dropdown .dropdown-menu {
    min-width: auto;
}

.block-dropdown .button {

    background-color: white;
    border: 2px solid lightgray;
    border-top: none;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    height: auto;
}

.block-dropdown.is-active .button {
    background-color: #dedede;
}

.frame {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    min-height: 0;
    position: relative;
}

.frame>.inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    overflow-y: scroll;
}

.frame>.inner>* {
    background-image: url('textures/paper.png');
    background-repeat: repeat;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.frame>.inner>*>* {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.main {
    display: flex;
    flex-direction: column;
}

.main>.inner {
    flex-grow: 1;
}

.navbar {
    box-shadow: 0px 0px 3px 3px gray;
}

.poem {
    display: flex;
    flex-grow: 1;
    width: min(70em, 100vw);
    flex-direction: column;
    align-items: center;
    gap: 3em;
    padding-left: 6em;
    padding-right: 6em;
    padding-top: 3em;
}

.poem .title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poem .title {
    font-size: 300%;
}

.poem .author {
    color: gray;
    font-size: 150%;
}

.poem .divider {
    opacity: 10%;
}

.poem .line {
    display: contents;
}

.poem .line .number {
    justify-self: start;
    font-family: 'Open Sans';
    max-width: 100%;
    color: lightgray;
    background-color: whitesmoke;
    transition: color 0.5s ease;
    transition: background-color 0.5s ease;
}

.poem .line.correct .number {
    color: white;
    background-color: #45ba45;
}

.poem .line.incorrect .number {
    color: white;
    background-color: #ba4545;
}

.poem .line .text-box {
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 0.5em;
}

.poem .line .text-box .slot-container {
    display: flex;
    justify-content: space-between;
}

.poem .line .text-box .text {
    font-size: 180%;
    letter-spacing: 0.03em;
}

.poem .line .feedback-area {
    justify-self: end;
}

.poem .line .check-button {
    font-family: 'Open Sans';
    border-radius: 9999px;
    animation: pulse 2s infinite;
}

.poem .body {
    display: grid;
    align-self: stretch;
    align-items: center;
    grid-row-gap: 2em;
    grid-template-columns: auto auto auto;
}

.divider,
.non-interactive {
    pointer-events: none;
}

body,
button,
input {
    font-family: 'DovesType-Regular';
}

#app,
html,
body,
#app>* {
    height: 100%;
}

html {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for firefox */
}

/* Temporary fix for https://github.com/buefy/buefy/issues/3471 */
.slide-enter-to,
.slide-leave {
    max-height: 50vh;
    overflow: hidden;
}

@keyframes ants {
    0% {
        stroke-dashoffset: 0%;
    }

    100% {
        stroke-dashoffset: 135%;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

@keyframes jiggle {

    20% {
        transform: translate3d(8px, 0, 0);
    }

    40% {
        transform: translate3d(-7px, 0, 0);
    }

    60% {
        transform: translate3d(6px, 0, 0);
    }

    80% {
        transform: translate3d(-5px, 0, 0);
    }

}