@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('DovesType-Regular.css');
@import url('animations.css');

/*
 * VARIABLES
 */

 :root {
    --box-shadow: 0px 0px 3px 3px #36363655;

    --tc-main: #363636;
    --tc-secondary: #808080;
    --tc-light: #d3d3d3;
    --tc-ghost: #e2e2e2;

    --block-width: 84px;
    --block-height: 50px;
}

/*
 * TYPOGRAPHY
 */

body,
button,
input {
    font-family: 'DovesType-Regular';
}

.title {
    font-size: 300%;
}

.author {
    color: var(--tc-subtle);
    font-size: 150%;
}

/*
 * LAYOUT
 */

 #app,
 html,
 body,
 #app>* {
     height: 100%;
 }

 .reader {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    min-height: 0;
    position: relative;
}

.reader .static-area {
    position: relative;
}

.reader .static-area > * {
    z-index: 10;
    position: absolute;
}

.reader .scroll-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    overflow-y: scroll;
}

.reader .background {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.reader .background::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    filter: saturate(450%) hue-rotate(-15deg) contrast(30%) blur(2px);
    background-image: url('textures/Paper2.png');
    background-repeat: repeat;
}

.reader .content-area {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.main {
    display: flex;
    flex-direction: column;
}

.main>.inner {
    flex-grow: 1;
}

.poem {
    display: flex;
    flex-grow: 1;
    width: min(70em, 100vw);
    flex-direction: column;
    align-items: center;
    gap: 3em;
    padding-left: 6em;
    padding-right: 6em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.poem .title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poem .body {
    display: grid;
    align-self: stretch;
    align-items: center;
    grid-row-gap: 2em;
    grid-template-columns: auto auto auto;
}

/*
 * COMPONENTS
 */

.game-block-shape,
.game-block,
.game-slot {
    width: var(--block-width);
    height: var(--block-height);
}

.game-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em;
    border-radius: 8px;
    cursor: move;
}

.game-block.ghost {
    transition: transform 0.18s ease;
    transform: rotateZ(5deg)
}

.game-block.ghost-drop {
    transition: transform 0.18s ease-in-out;
    transform: rotateZ(0deg)
}

.game-slot {
    position: relative;
}

.game-slot.incorrect-active {
    animation: jiggle 0.5s;
}

.game-slot.correct-active {
    animation: bounce 0.4s;
}

.game-blank {
    
    width: calc(var(--block-width) - 4px);
    height: calc(var(--block-height) - 4px);

    fill: none;
    pointer-events: all;
    stroke: var(--tc-light);
    stroke-dasharray: 9, 9;
    stroke-width: 2;
}

.game-slot.slot.drop-active .game-blank {
    fill: var(--tc-ghost);
    animation: ants 3s linear 0s infinite normal forwards;
}

.game-slot:not(.slot) .game-blank {
    visibility: hidden;
}

.game-slot.drop-active:not(.drag-active) .game-block {
    transition: opacity 0.25s ease;
    opacity: 0%;
}

.game-notation {
    max-height: 20px;
    max-width: 20px;
}

.game-feedback {
    font-family: 'Open Sans';
    border-radius: 9999px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
    white-space: nowrap;
    animation: spring 5s ease;
    will-change: transform opacity;
}

.game-feedback.perfect {
    background-color: #45ba45;
}

.game-feedback.great {
    background-color: #7845ba;
}

.game-feedback.good {
    background-color: #c9a919;
}

.game-feedback.okay {
    background-color: #2e81e0;
}

.game-feedback.incorrect {
    background-color: #ba4545;
}

.game-progress {
    height: 2em;
    width: 40em;
    background-color: var(--tc-light);
    border-radius: 9999px;
    display: flex;
    top: 0;
    left: 50%;
}

.game-progress .inner {
    background-color: var(--tc-main);
    border-radius: 9999px;
    transition: width 3s ease;
}

.block-picker {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(1, 1fr);
}

.game-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: white;
    box-shadow: var(--box-shadow);
    border-top: none;
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transition: transform 1s ease;
}

.game-dropdown .inner {
    padding: 1em;
}

.game-dropdown .handle {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transition: transform 1s ease;
}

.game-dropdown:not(.open) {
    transform: translate(0, calc(-100% - 1em));
}

.game-dropdown:not(.open).has-handle {
    transform: translate(0, calc(-100% + 3em));
}

.game-dropdown.open .handle {
    transform: scale(1,-1);
}

.block-dropdown {
    top: 0em;
    left: 1em;
}

.progress-dropdown {
    top: 0em;
    left: 50%;
    transform: translate(-50%, 0);
}

.navbar {
    z-index: 20;
    box-shadow: var(--box-shadow);
}

.divider {
    opacity: 10%;
}

.line {
    display: contents;
}

.line .number {
    justify-self: start;
    font-family: 'Open Sans';
    color: var(--tc-light);
    background-color: var(--tc-ghost);
    transition: color 1s ease;
    transition: background-color 1s ease;
}

.line.correct .number {
    color: white;
    background-color: #45ba45;
}

.line.incorrect .number {
    color: white;
    background-color: #ba4545;;
}

.line .text-box {
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 0.5em;
}

.line.stanza-break > * {
    margin-top: 4em;
}

.line .slot-container {
    min-width: 23vw;
    display: flex;
    justify-content: space-between;
}

.line .text {
    font-size: 180%;
    letter-spacing: 0.03em;
}

.line .feedback-area {
    justify-self: end;
    width: 6em;
    height: 6em;
    position: relative;
}

.line .feedback-area > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line .check-button {
    font-family: 'Open Sans';
    border-radius: 9999px;
    animation: pulse 2s infinite;
}

/*
 * UTILITY
 */

.divider,
.game-feedback,
.number,
.game-notation,
.non-interactive {
    pointer-events: none;
    user-select: none;
}

html {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for firefox */
}