$font-primary: 'DovesType-Regular';
$font-secondary: 'Open Sans';

$larger: 3em;
$large: 1.5em;
$medium: 1em;

$block-width: 84px;
$block-height: 50px;

$light: #d3d3d3;
$lighter: #e2e2e2;
$dark: #363636;
$gray: #808080;