// Import utility classes for responsive variables
@import "~bulma/sass/utilities/_all";

// Responsive variables
:root {

    @include mobile {
        --fs-50: 3rem;
        --fs-40: 2.25rem;
        --fs-30: 1.5rem;
        --fs-20: 0.75rem;
        --fs-10: 0.7rem;
    }

    @include tablet-only {
        --fs-50: 4rem;
        --fs-40: 2.75rem;
        --fs-30: 2.25rem;
        --fs-20: 1.125rem;
        --fs-10: 0.75rem;
    }

    @include desktop {
        --fs-50: 6rem;
        --fs-40: 4rem;
        --fs-30: 3rem;
        --fs-20: 1.5rem;
        --fs-10: 1rem;
    }

}

// SCSS variables
$font-primary: 'DovesType-Regular';
$font-secondary: 'Open Sans';

$light: #d3d3d3;
$lighter: #e2e2e2;
$dark: #363636;
$gray: #808080;

$block-height: 2.25em;
$block-width: 3.75em;
$notation-size: 1em;
$feedback-area-width: 6em;
$feedback-area-height: 3em;
$blank-stroke-width: 2px;
$blank-stroke-dasharray: 0.48em, 0.48em;

$z-index-block-dropdown: 10;
$z-index-progress-dropdown: $z-index-block-dropdown + 1;