.syllabits-block-shape {
    width: 80px;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
}

.syllabits-block {
    letter-spacing: 3pt;
    color: #ffeeff
}

.syllabits-block-picker {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
}

.syllabits-content {
    margin: 8px;
}

.full-height {
    height: 100%;
}