.game-block {
    width: 80px;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
    letter-spacing: 3pt;
    font-weight: bold;
    color: white;
    cursor: move;
}

.game-block.drop-active {
    transition: opacity 0.25s ease;
    opacity: 0%;
}

.game-block.ghost {
    transition: transform 0.18s ease;
    transform: rotateZ(5deg)
}

.game-block.ghost-drop {
    transition: transform 0.18s ease-in-out;
    transform: rotateZ(0deg)
}

.game-slot {
    z-index: -10;
    fill: none;
    pointer-events: all;
    stroke: gray;
    stroke-dasharray: 10, 10;
    stroke-width: 2;
}

.game-slot.drop-active {
    fill: #eeeeee;
    animation: ants 3s linear 0s infinite normal forwards;
}

.block-picker {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(1, 1fr);
}

.block-dropdown .dropdown-menu {
    min-width: auto;
}

.block-dropdown .button {
    background-color: white;
    border: 2px solid gray;
    border-top: none;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    height: auto;
}

.block-dropdown.is-active .button {
    background-color: #eeeeee;
}

.navbar {
    box-shadow: 0px 0px 3px 3px gray;
}

.full-height {
    height: 100%;
}

h1 {
    font-size: 200%;
}

/* Temporary fix for https://github.com/buefy/buefy/issues/3471 */
.slide-enter-to, .slide-leave {
    max-height: 50vh;
    overflow: hidden;
}

@keyframes ants {
    to {
        stroke-dashoffset: 150%;
    }
}